mat-toolbar{
    height:50px;
    background-color: rgb(211, 116, 20);
    width: 100%;
    margin-bottom: 10px;
    color: antiquewhite;
  }
  .add{
    color: rgb(211, 116, 20);  
  }
  .a{
  display: flex;
  }
  .displayYourPost:hover{
  transform: scale(1.02);
  }
  .displayYourPost{
  margin-bottom: 8px;
  text-overflow: ellipsis; white-space: nowrap; overflow: hidden;
  }
  .des{
    max-width: 200px;
    min-width: 100px;
    text-overflow: ellipsis; white-space: nowrap; overflow: hidden;
  }
  button {
    margin-right: 8px;
  }