<header>
    <div class="container">

    <div class="text-column">
        <nav class="menu">
            <a class="logo-link"><img class="logo-img" width="46" height="46" alt="Logo" src="../../assets/B.png"></a>
            <ul class="menu-list">
                <li class="menu-item"><a class="menu-link" routerLink="login">FOOD</a></li>
                <li class="menu-item"><a class="menu-link" routerLink="login">TRAVEL</a></li>
                <li class="menu-item"><a class="menu-link" routerLink="login">BEAUTY</a></li>
                <li class="menu-item"><a class="menu-link"routerLink="login">TECHNOLOGY</a></li>
            </ul>
        </nav>
        <h1 class="title">“Publish your passions, your way
”</h1>
        <p class="text">Create a unique and beautiful blog easily</p>
    </div>
    <div class="img-column">
        <a href="#" class="logo-link"><img src="https://github.com/jenyadev3/sticky-footer/blob/main/img/photo.jpg?raw=true" width="663" height="600" class="header-img"></a>
    </div>
</div>
</header>
<main>
</main>

<footer>
    <div class="footer-container">
        <a href="#" class="logo-link"><img class="footer-logo" width="46" height="46" alt="Logo" src="../../assets/B.png"></a>
        <ul class="footer-menu">
            <li class="footer-item"><a class="menu-link" href="#">copyright@2023</a></li>

        </ul>
    </div>
</footer>
