<header>
    <div class="container">

    <div class="text-column">
       
        <h1 class="title">“Publish your passions, your way
”</h1>
        <p class="text">Create a unique and beautiful blog easily</p>
    </div>
   
</div>
</header>
<main>
</main>

<footer>
    <div class="footer-container">
        <a href="#" class="logo-link"><img class="footer-logo" width="46" height="46" alt="Logo" src="../../assets/B.png"></a>
        <ul class="footer-menu">
            <li class="footer-item"><a class="menu-link" href="#">copyright@2023</a></li>

        </ul>
    </div>
</footer>
